:root {
    --makerBg: "#000000";
}

#container {
    margin: auto;
    position: relative;
    max-width: 731px;
    width: 100%;
}

#container h1 {
    text-align: center;
}

#controlPanel {
    margin: auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

#body {
    position: absolute;
    max-width: 731px;
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url("../img/body.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#background {
    left: 0px;
    top: 0px;
    width: 100%;
    max-width: 731px;
    aspect-ratio: 1/1;
    position: relative;
    background: var(--makerBg);
    background-size: cover;
    background-repeat: no-repeat;
}

// update this map when new items or categories are added
$items: (
    "hairs": 17,
    "weapons": 13,
    "clothes": 15,
    "accessoriesA": 24,
    "accessoriesB": 4,
    "balloon": 4,
    "makeup": 25
);

@each $item,
$total in $items {

    @for $i from 1 through $total {
        .#{$item}#{$i} {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            max-width: 731px;
            aspect-ratio: 1/1;
            background-image: url(../img/#{$item}/#{$item}#{$i}.png);
            background-size: cover;
        }
    }
}

// Position "randomize" button

#randomize {
    position: absolute;
    left: 600px;
    top: 600px;
    font-weight: bold;
}

#capture {
    width: 100%;
    background-color: blue;
    margin-left: 5%;
    color: white;
    font-weight: bold;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}

.partsButton {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}

.partsButtonSelected {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

.partsTabPanel {
    padding: 15px;
}

#bgControlPanel {
    width: 50%;
    margin: auto;
    padding: 15px;
    display: flex;
}