#container{
    margin:auto;
    position: relative;
    width: 731px;
    height: 731px;
}

#container h1 {
    text-align: center;
}

#controlPanel {
    margin: auto;
    position: relative;
    margin-top: 30px;
}

#body{
    position:absolute;
    width:731px;   /* width of actual image */
    height:731px; /* height of actual image */
    background-image: url("../img/body.png");
    background-repeat: no-repeat;
}

#background {
    left: 0px;
    top: 0px;
    bottom: 731px;
    right: 731px;
    width: 731px;
    height: 731px;
    position: relative;
    background-color: white;
}

#hairs, #weapons, #clothes, #accessoriesA {
    position:absolute;
    left: 0px;
    top: 0px;
    width:731px;   /* width of actual image */
    height:731px; /* height of actual image */
}

// update this map when new items or categories are added
$items: ("hairs": 11, "weapons": 6, "clothes": 6, "accessoriesA": 9);

@each $item, $total in $items {

    @for $i from 1 through $total {
        .#{$item}#{$i} {
            background-image: url(../img/#{$item}/#{$item}#{$i}.png);
        }
    }
}

// Position "next" buttons

@each $item, $total in $items {
    #next#{$item}{
        position:relative;
        margin-left:10px;
        margin-top: 10px;
    }
    
}

// Position "randomize" button

#randomize{
    position:absolute;
    left:600px;
    top:600px;
    font-weight: bold;
}

#capture {
    width: 100%;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
}